<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entre em Contato - Desenvolvimento de Software</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../Css/Style.css">
    <link rel="stylesheet" href="../Css/Styli1.css">
    <link rel="stylesheet" href="../Css/Style4.css">
</head>
<body>
    <header class="cabecalho">
        <img src="../Imagem/logo.png" alt="Logo do Site" class="cabecalho-imagem">
        <nav>
            <ul class="cabecalho-menu">
                <a href="../Index.html" class="cabecalho-menu-item">Início</a>
                <a href="../Views/Projetos.html" class="cabecalho-menu-item">Portfólio</a>
                <a href="../Views/Sobre.html" class="cabecalho-menu-item">Sobre</a>

            </ul>
        </nav>
    </header>
    <main class="conteudo centralizado">
        <section id="contato" class="conteudo-contato">
            <h2 class="conteudo-contato-titulo">Entre em Contato</h2>
            <form action="#" method="post" class="formulario-contato">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" required>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                <label for="mensagem">Mensagem:</label>
                <textarea id="mensagem" name="mensagem" required></textarea>
                <button type="submit" class="botao-enviar">Enviar Mensagem</button>
            </form>
        </section>
    </main>
    <footer class="rodape">
        <p>&copy; 2024 Desenvolvimento de Software</p>
    </footer>
</body>
</html>
