<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Portfólio - Desenvolvimento de Software</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../Css/Style.css">
    <link rel="stylesheet" href="../Css/Styli1.css">
</head>
<body>
    <header class="cabecalho">
        <img src="../Imagem/logo.png" alt="Logo do Site" class="cabecalho-imagem">
        <nav>
            <ul class="cabecalho-menu">
                <a href="../Index.html" class="cabecalho-menu-item">Home</a>
                <a href="../Views/Sobre.html" class="cabecalho-menu-item">Sobre</a>
                <a href="../Views/Contato.html" class="cabecalho-menu-item">Contato</a>
            </ul>
        </nav>
    </header>
    <main class="conteudo centralizado">
        <section id="projetos" class="conteudo-projetos">
            <h2 class="conteudo-projetos-titulo">Meu Portfólio</h2>
            <div class="projeto">
                <div class="projeto-descricao">
                    <h3 class="projeto-titulo">Projeto 1</h3>
                    <p class="projeto-resumo">Descrição breve do projeto 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <a href="#" class="projeto-link">Ver Projeto</a>
                </div>
            </div>
            <div class="projeto">
                <div class="projeto-descricao">
                    <h3 class="projeto-titulo">Projeto 2</h3>
                    <p class="projeto-resumo">Descrição breve do projeto 2. Fusce euismod urna at velit gravida, ac tempus nunc luctus.</p>
                    <a href="#" class="projeto-link">Ver Projeto</a>
                </div>
            </div>
            <!-- Adicione mais projetos conforme necessário -->
        </section>
    </main>
    <footer class="rodape">
        <p>&copy; 2024 Desenvolvimento de Software</p>
    </footer>
</body>
</html>
