<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Mim - Desenvolvimento de Software</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../Css/Style.css">
    <link rel="stylesheet" href="../Css/Styli1.css">
    <link rel="stylesheet" href="../Css/Style3.css">
</head>
<body>
    <header class="cabecalho">
        <img src="../Imagem/logo.png" alt="Logo do Site" class="cabecalho-imagem">
        <nav>
            <ul class="cabecalho-menu">
                <a href="../Index.html" class="cabecalho-menu-item">Home</a>
                <a href="../Views/Projetos.html" class="cabecalho-menu-item">Portfólio</a>
                <a href="../Views/Contato.html" class="cabecalho-menu-item">Contato</a>
            </ul>
        </nav>
    </header>
    <main class="conteudo centralizado">
        <section id="sobre" class="conteudo-sobre">
            <h2 class="conteudo-sobre-titulo">Sobre Mim</h2>
            <p class="conteudo-sobre-descricao">Sou um desenvolvedor de software apaixonado por tecnologia e inovação. Tenho experiência em várias linguagens de programação, incluindo JavaScript, Python, Java, entre outras.</p>
            <p class="conteudo-sobre-descricao">Meu objetivo é criar soluções inteligentes e eficientes que atendam às necessidades dos clientes e contribuir para o avanço da tecnologia.</p>
            <img src="../Imagem/Homem.jpg" alt="Foto do Desenvolvedor" class="conteudo-sobre-imagem">
        </section>
    </main>
    <footer class="rodape">
        <p>&copy; 2024 Desenvolvimento de Software</p>
    </footer>
</body>
</html>
